body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
}
.logo{
	width: 150px;
	height: 50px;
	border: 0.5px solid #ff9999;
	border:none;
	position: relative;
  margin-left: 1.5em;
}
.navbar-toggler-icon{
	background-color: #ff0066;
	border: 1px solid black;
	width: 50px;
}
li{
	margin-left: 3em;
}
#logo{
	position: relative;
	z-index: 9999;
}
.slimmenu li a.nav-link{
	font-size: 18px;
	font-family: "Aria",sans-serif;
	text-shadow: 0 0 2px #0080ff;
}
.dropdown-menu{
	padding:7px;
	margin: 0;
	font-size: 15px;
	background-color:  #3399ff;
}

ul.slimmenu li a:hover, ul.slimmenu li a:focus, ul.slimmenu li.current {
	background-color:  #ff0066;
	text-decoration: none;
}
#breadcrumb-wrapper{
	margin:13px;
}
ol.breadcrumb{
	background: white;
	
}
.breadcrumb li a:hover,.breadcrumb li a:focus{
	text-decoration: none;
	color:  #ff33bb;
}
.breadcrumb-item{
	padding:0;
	margin:0;
}
:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #00ace6;
  font-weight: bold;
  font-family: cursive;
}

.card-signin .card-body {
  padding: 3rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

h6{
	color: #ff80bf;
	font-size: 18px;
}
.mr-3{
	color: white;
	font-size: 25px;
}
.col-lg-3 p,.col-lg-3 p a{
	color:white;
	font-size: 15px; 
}
.mt-3 p a:hover,.mt-3 p a:focus{
	text-decoration: none;
	color: #33ccff;
}